<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.mybatics.dao.ICustomerDao" >
  
  
  	<select id="findCustomerMoneyByPhoneNumber" resultType="java.math.BigDecimal">
  		select customer_money from hair_customers where customer_phoneNumber = #{customer_phoneNumber}
  	</select>
  	
	<!-- 实体的更新方法 -->
	<update id="updateCustomer">
		update hair_customers
		<set>
			<if test="danju_price!=null">
				customer_money = #{danju_price}
			</if>
		</set>
		where customer_phoneNumber = #{customer_phoneNumber}
	</update>	

</mapper>