<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.mybatics.dao.IEmployeeDanDao" >
  
  <!-- 实体的保存法方法 -->
	<insert id="saveEmployeeDanDao" parameterType="hair_employee_dan" keyProperty="empDan_id">
		insert into  hair_employee_dan
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="danju_applicant_id!=null">
				employee_id ,
			</if>
			<if test="danju_id!=null">
				employee_danjuID ,
			</if>
			<if test="danju_price!=null">
				employee_money ,
			</if>
				employee_createTime
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="danju_applicant_id!=null">
				#{danju_applicant_id}	,
			</if>
			<if test="danju_id!=null">
				#{danju_id}	,
			</if>
			<if test="danju_price!=null">
				#{danju_price}	,
			</if>
				NOW()
		</trim>
	</insert>
  
</mapper>